.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.item{
    height: 600px;
    width: 200px;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.image{
    height: 80%;
}
